h1{

    width: 20%;
    color: blueviolet;
    margin: 500px;
    border: 2px solid red;
    background-color: brown;
    border-radius: 10px;
    padding: 100px;
    
}
body{

    background-color: darkslategrey;
}